.reactiveform {
    background-color: #f0f5f8;
    padding: 50px;
    border-radius: 1em;
}

.reactiveform label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.reactiveform input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.reactiveform button {
    background-color: #00adff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.reactiveform button:hover {
    background-color: #0099eb;
}

.hidden {
    display: none;
}
.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 1em;
    gap: 1rem;
}
.rich-text-content {
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .form-container {
        padding: 20px;
        grid-template-columns: 1fr;
    }
}
