---
import CommentCard from "@components/CommentCard.astro";
import { client } from "@utils/contentful_utils";
import { getLangFromUrl } from "@i18n/utils";
import type { Entry } from "contentful";

const lang = getLangFromUrl(Astro.url);

const { key, id } = Astro.props;

const data = await client.getEntry(id, { locale: lang });

const { title: title } = data.fields;

const commentsCard = data.fields.commentsCards as Entry[];

const commentCards = await Promise.all(
    commentsCard.map(async (comment: { sys: { id: string } }) => {
        const commentId = comment.sys.id;
        const commentData = await client.getEntry(commentId, { locale: lang });
        return commentData;
    })
);
---

<section class="comment-container">
    <h2 class="section-title">{title}</h2>
    <div class="card-container">
        <div class="card-wrapper">
            {
                commentCards &&
                    commentCards.length > 0 &&
                    commentCards.map(
                        (comment, index) =>
                            comment && (
                                <CommentCard key={index} data={comment} />
                            )
                    )
            }
            {
                commentCards &&
                    commentCards.length > 0 &&
                    commentCards.map(
                        (comment, index) =>
                            comment?.fields && (
                                <CommentCard
                                    key={index + commentCards.length}
                                    data={comment}
                                />
                            )
                    )
            }
        </div>
    </div>
</section>

<style>
    .comment-container {
        max-width: 100%;
        margin: 0 auto;
        padding: 16px;
    }

    .section-title {
        text-align: center;
        margin-bottom: 1rem;
    }

    .card-container {
        overflow: hidden;
        position: relative;
        width: 90%;
    }

    .card-wrapper {
        display: flex;
        gap: 16px;
        animation: scrollAnimation 30s linear infinite;
        width: max-content;
    }

    /* Pausar animación al pasar el mouse */
    .card-container:hover .card-wrapper {
        animation-play-state: paused;
    }

    @keyframes scrollAnimation {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(calc(-50% - 16px));
        }
    }
</style>
