---
import CommentCard from "@components/CommentCard.astro";

const { key, data } = Astro.props;

const {
    fields: { title: title, commentsCards: commentCards },
} = data;
---
<section class="comment-container">
    <h2 class="section-title">{title}</h2>
    <div class="card-container">
        {commentCards &&
            commentCards.length > 0 &&
            commentCards.map(
                (
                    comment: {
                        fields: {
                            id: string;
                            title: string;
                            body: string;
                            jobAndCompany: string;
                        };
                    },
                    index: number
                ) => {
                    return <CommentCard key={index} data={comment} />;
                }
            )}
    </div>
</section>

<style>
    .comment-container {
        max-width: 100%;
        margin: 0 auto;
        padding: 16px;
    }

    .section-title {
        text-align: center;
    }

    .card-container {
        display: flex;
        overflow-x: auto; 
        gap: 16px; 
        padding: 16px;
        scroll-snap-type: x mandatory; 
    }

    .card-container::-webkit-scrollbar {
        height: 8px; 
    }

    .card-container::-webkit-scrollbar-thumb {
        background: #888; 
        border-radius: 4px;
    }
</style>