---
const { key, data } = Astro.props;

const {
    fields: { id: id, title: title, body: body, jobAndCompany: jobAndCompany },
} = data;
---

<div class="comment-card" id={id}>
    <p>{body}</p>
    <h3>{title}</h3>
    <span>{jobAndCompany}</span>
</div>
<style>
    .comment-card {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        background-color: var(--secondaryColorTwo);
        border-radius: 5px;
        width: 250px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s, box-shadow 0.3s;
        animation: zoomIn 0.5s ease;
    }
    .comment-card h3 {
        margin: 0;
        color: var(--primaryColorTwo);
    }
    .comment-card span {
        color: var(--primaryColorTwo);
        font-size: 0.8rem;
        opacity: 0.6;
    }
    .comment-card p {
        margin-bottom: 2rem;
        color: var(--secondaryColorOne);
        opacity: 0.8;
    }


    .comment-card:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    }



    @keyframes zoomIn {
        from {
            transform: scale(0.9);
            opacity: 0;
        }
        to {
            transform: scale(1);
            opacity: 1;
        }
    }
    
</style>
