---
const { key, data } = Astro.props;

const {
    fields: { title: title, body: body },
} = data;
---

<section class="event-banner">
    <div class="event-text">
        <h2>{title}</h2>
        <p>{body}</p>
    </div>
    <!-- <img class="event-image" src={`https:${image_url}`} alt={image_alt} />  -->
</section>
<style>
    .event-banner {
        background: #f7f7f7;
        border-radius: 1rem;
        display: flex;
        height: auto;
        margin: auto;
        padding: 2rem;
        width: 30%;
    }
</style>
