---
const { banner_data, key } = Astro.props;

const { id: id, title: title, ctas: ctas } = banner_data.fields;

---

<section class="banner-content">
    <div class="banner-text">
        <h1>{title}</h1>
        <div class="cta-container">
            {
                ctas.map(
                    (cta: {
                        fields: { text: string; url: string };
                        sys: { id: string };
                    }) => {
                        const {
                            fields: { text: text, url: url },
                        } = cta;
                        return (
                            <button>
                                <a href={url} class="cta">
                                    {text}
                                </a>
                            </button>
                        );
                    }
                )
            }
        </div>
    </div>
</section>

<style>
    .banner-content {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        background-color: var(--secondaryColorOne);
        width: 80%;
    }
    .banner-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .cta-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 10%;
    }
    .cta {
        margin: 1rem;
        padding: 1rem;
        background-color: #f0f0f0;
        border: 1px solid black;
        border-radius: 5px;
        text-decoration: none;
        color: black;
    }
    .cta{
        padding: 10px;
        border-radius: 10px;
        background-color: white;
        border: 1px solid transparent;
        cursor: pointer;
        color: var(--primaryColorOne);
        border: 1px solid var(--primaryColorOne);
    }
    .cta:hover{
        background-color: var(--primaryColorOne);
        color: white;
    }
</style>
