---
const { banner_data } = Astro.props;

const {
    fields: {
        title: title,
        body: body,
        image: {
            fields: {
                file: { url: image_url },
                description: image_alt,
            },
        },
    },
} = banner_data;
---

<section class="hero-banner">
    <div class="hero-text">
        <h1 class="hero-title">{title}</h1>
        <p class="sub-hero-title">{body}</p>
    </div>
    <img class="hero-image" src={`https:${image_url}`} alt={image_alt} />
</section>
<style>
    .hero-image {
        width: 40%;
        height: auto;
        padding: 2rem;
    }
    .hero-banner {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        background-color: var(--secondaryColorOne);
        width: 65%;
    }
    .hero-title{
        padding-right: 5rem;
    }
    .sub-hero-title{
        padding-right: 2rem;
        padding-top: 2rem;
    }
</style>
