---
const { banner_data } = Astro.props;

const {
    fields: {
        title: title,
        body: body,
        image: {
            fields: {
                file: { url: image_url },
                description: image_alt,
            },
        },
    },
} = banner_data;
---

<section class="hero-banner">
    <div class="hero-text">
        <h1>{title}</h1>
        <p>{body}</p>
    </div>
    <img class="hero-image" src={`https:${image_url}`} alt={image_alt} />
</section>
<style>
    .hero-image {
        width: 50%;
        height: auto;
    }
    .hero-banner {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        background-color: #f0f0f0;
        width: 80%;
    }
</style>
