---
import ReactiveInnerNavbar from "@components/ReactiveInnerNavbar";
import { client } from "@utils/contentful_utils";

const { key, data } = Astro.props;

const {
    fields: { title: title, innerNavbarCategory: innerNavbarCategory },
} = data;

await Promise.all(
    innerNavbarCategory.map(async (category: any, index: number) => {
        if (!category.fields) {
            const entry = await client.getEntry(category.sys.id);
            innerNavbarCategory[index] = { ...category, fields: entry.fields };
        }
    })
);
---

<section>
    <div>
        <h2 class="inner-title">
            {title}
        </h2>
    </div>
    {
        innerNavbarCategory && innerNavbarCategory.length > 0 ? (
            <ReactiveInnerNavbar data={innerNavbarCategory} client:load />
        ) : null
    }
</section>
<style>
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        width: 80%;
    }
    button {
        margin: 1rem;
        padding: 1rem;
        background-color: #f0f0f0;
        border: 1px solid black;
        border-radius: 5px;
    }
    .cta {
        text-decoration: none;
    }
</style>
