---
const { logo } = Astro.props;
---

<div class="logo">
    <Fragment set:html={logo} />
</div>
<style>
    .logo {
        width: 20px;
        height: 20px;
        fill: var(--primaryBaseColor);
        stroke: var(--primaryBaseColor);
    }
    button {
        padding: 0.5rem;
        display: flex;
        height: 3rem;
        width: 3rem;
    }
    button:hover > .logo {
        fill: var(--secondaryHighlightColor);
        stroke: var(--secondaryHighlightColor);
    }
</style>
