---
const { logo, css_class } = Astro.props;
---

<div class={css_class}>
    <Fragment set:html={logo} />
</div>
<style>
    .header_logo {
        width: 200px;
        height: auto;
    }
    .footer_logo {
        width: 20px;
        height: 20px;
        fill: var(--primaryBaseColor);
        stroke: var(--primaryBaseColor);
    }
</style>
