---
const { key, banner_data } = Astro.props;

const {
    fields: {
        title: title,
        body: body,
        image: {
            fields: {
                file: { url: image_url },
                description: image_alt,
            },
        },
    },
} = banner_data;

const reverse = key % 2 === 0;
---

<section class={`page-banner ${reverse ? "reverse" : ""}`}>
    <img class="banner-image" src={`https://${image_url}`} alt={image_alt} />
    <div class="banner-text">
        <h1 class="banner-title">{title}</h1>
        <p class="banner-body">{body}</p>
    </div>
</section>
<style>
    .page-banner {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--secondaryColorOne);
    }
    .page-banner.reverse {
        flex-direction: row-reverse;
    }
    .banner-image{
        width: 30%;
    }
    .banner-title{
        padding-left: 15%;
        padding-right: 10%;
    }
    .banner-body{
        padding-left: 15%;
        padding-right: 10%; 
        margin-top: 2rem;
    }
</style>
