---
import TextBannerContent from "@components/TextBannerContent.astro";
import { client } from "@utils/contentful_utils";
import { getLangFromUrl } from "@i18n/utils";

const { key, id } = Astro.props;

const lang = getLangFromUrl(Astro.url);

const data = await client.getEntry(id, { locale: lang });

const {
    fields: { title: title, bodyTextBanner: body },
} = data;
---

<section class="text-banner">
    <h2>{title}</h2>
    <TextBannerContent body={body} />
</section>
<style>
    .text-banner {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        margin: 1rem 0;
        background-color: rgb(245, 245, 245);
        padding: 2rem;
        border-radius: 12px;
    }

    @media (max-width: 768px) {
        .text-banner {
            width: 90%;
        }

        .text-banner h2 {
            text-align: center;
        }
    }
</style>
