---
import TextBannerContent from "@components/TextBannerContent.astro";

const { key, data } = Astro.props;

const {
    fields: { title: title, bodyTextBanner: body },
} = data;
---

<section class="text-banner">
    <h2>{title}</h2>
    <TextBannerContent body={body} />
</section>
<style>
    .text-banner {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        margin: 2rem 0;
    }
</style>
