---
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import "@styles/richText.css";

const { body } = Astro.props;
---

<div class="rich-text-content">
    <Fragment set:html={documentToHtmlString(body)} />
</div>

<style>
    .rich-text-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
</style>
